.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

body ,html {
  overflow: inherit !important;
}


.inputStyle::placeholder {
    color: rgb(221, 213, 213) !important; 
}
.inputStyle{
    background-color:#fcfafa
}


/* Sidebar start*/
.line {
  width: 5px !important;
  height: 40px !important;
  background-color: #F8D442 !important;
}
.user_name { 
    color: #FEAF00;
}

.sidebar_sec {
  background-color: #eec597;
  height: 100%;
}
/* Sidebar end*/

.page-item {
  color: red !important;
}